.loader {
    top: 50%;
    left: 50%;
    z-index: 999999;
    position: absolute;
}

.header {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1;

    width: 100%;
    min-height: 140px;

    text-align: center;
    background-color: white;
}

.left-arrow {
    margin-left: 10px;
    border: solid dimgray;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;

    transform: rotate(135deg);
}

.back-button {
    position: relative;
    top: 0;
    left: 0;
    width: 180px;
    height: auto;

    color: dimgray;
    font-weight: bold;
    font-size: 24px;
}

.back-button:hover {
    color: black;
}

.back-button:hover .left-arrow {
    border-color: black;
}

.label {
    position: relative;

    font-size: 60px;
    font-style: italic;
    font-weight: bolder;
}

.header-buttons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: clamp(12px, 40%, 40%);

    margin-bottom: 20px;

    font-size: 36px;
    font-weight: bold;
    color: black;
}

.button {
    cursor: pointer;
}

.active-button {
    color: gray;
    cursor: pointer;
}

.active-button:hover {
    color: black;
}

/* Grid */
/*     */

.grid {
    display: grid;
    place-items: center;
    z-index: 0;
    margin-top: 3px;

    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.albums {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.top-controls {
    z-index: 9;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.app .filter {
    display: flex;
    justify-content: center;
    margin: auto;
}
.app .filter h2 {
    margin-right: 20px;
}

.app .MuiList-root {
    max-height: 300px;
}

.photos-list {
    margin-top: 50px;
}

.top-controls .MuiContainer-root {
    width: auto;
}

.photo {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 100%;

    margin: auto;
    width: 320px;


    transition-property: all;
    transition-duration: 4s;
    transition-delay: 2s;
}

.photo:hover {
    outline: 2px solid darkseagreen;
}

.photo:hover .hide-button {
    visibility: visible;
}

.photo:hover .photo-name {
    visibility: visible;
}

.photo-name {
    position: absolute;
    bottom: 0;
    text-align: center;

    width: 100%;
    height: fit-content;

    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    visibility: hidden;
}

.app .hide-button {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    visibility: hidden;

    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    width: 40px;
}

.hide-button:hover {
    color: skyblue;
}



img {
    cursor: pointer;
    width: 100%;
}

.modal.MuiModal-root  {
    width: 500px;
    height: 500px;
    margin: auto;
}

.app .MuiGrid-root {
    margin-top: 50px;
}